@page "/productionPriority/new"
@using Luzyce.Core.Models.ProductionOrder
@using Luzyce.Core.Models.ProductionPriority
@using LuzyceWebApp.Services
@inject ProdPrioritiesService ProdPrioritiesService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@if (getOrdersPositionsResponse == null)
{
    <p>
        <em>Loading...</em>
    </p>
    return;
}

<div id="sortable-table">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Klosz/wersja</th>
            <th scpoe="col">ilość</th>
            <th scpoe="col">ilość na wzm</th>
            <th scpoe="col">wzm</th>
            <th scope="col">nr zlecenia</th>
            <th scope="col">Klient</th>
            <th scope="col">Uwagi</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in getOrdersPositionsResponse.OrdersPositions)
        {
            <tr data-id="@item.Id">
                <td>@item.Lampshade.Code @item.LampshadeNorm.Variant.Name @item.LampshadeDekor</td>
                <td>@item.QuantityNetto</td>
                <td>@item.LampshadeNorm.QuantityPerChange</td>
                <td>@item.NumberOfChanges</td>
                <td>@item.ProductionOrderNumber</td>
                <td>@item.Client</td>
                <td>@item.Remarks</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<button class="btn btn-primary" style="float: right" @onclick="OnSave">Zapisz</button>

<script>
    window.initializeSortable = (dotNetHelper) => {
        const tableBody = document.querySelector('#sortable-table tbody');
        if (tableBody) {
            new Sortable(tableBody, {
                animation: 150,
                onEnd: (evt) => {
                    dotNetHelper.invokeMethodAsync('SortList', [...evt.to.rows].map(row => parseInt(row.dataset.id)));
                }
            });
        }
    };
</script>

@code {
    private GetOrdersPositionsResponse? getOrdersPositionsResponse;
    private readonly SortedList<int, GetProductionOrderPosition> sortedList = new();
    protected override async Task OnInitializedAsync()
    {
        getOrdersPositionsResponse = await ProdPrioritiesService.GetOrdersPositions();
        for (var i = 0; i < getOrdersPositionsResponse!.OrdersPositions.Count; i++)
        {
            sortedList.Add(i * 10, getOrdersPositionsResponse.OrdersPositions[i]);
        }
        
        await InvokeAsync(StateHasChanged);
        await JSRuntime.InvokeVoidAsync("initializeSortable", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public async Task SortList(int[] sortedIds)
    {
        if (getOrdersPositionsResponse == null) return;

        sortedList.Clear();
        
        for (var i = 0; i < sortedIds.Length; i++)
        {
            var item = getOrdersPositionsResponse.OrdersPositions.FirstOrDefault(x => x.Id == sortedIds[i]);
            if (item != null)
            {
                sortedList.Add(i * 10, item);
            }
        }
        
        await InvokeAsync(StateHasChanged);
    }
    
    private async Task OnSave()
    {
        var resp = await ProdPrioritiesService.SaveProductionPriority(new CreateProductionPriorityRequest
        {
            positions = sortedList.Values.ToList()
        });
        
        if (resp)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}