@page "/productionOrder/new"
@using System.Threading
@using Luzyce.Core.Models.Order
@using LuzyceWebApp.Services
@inject OrderService OrderService

@if (orders == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <style>
        .order-row {
            cursor: pointer;
        }

        .order-row:hover {
            background-color: #f5f5f5;
        }

        .selected:hover {
            background-color: pink;
        }

        .selected {
            background-color: pink;
        }
    </style>
    <h3>Nowe zlecenie produkcji</h3>
    <div class="row">
        <div class="col form-group">
            <label>Nazwa klienta:</label>
            <input type="text" class="form-control"  @bind="customerName" @oninput="@(async (e) => await OnCustomerNameInput(e))"/>
        </div>
        <div class="col">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                @foreach (var order in orders.Orders)
                {
                    <li class="list-group-item order-row @(order.Id == selectedOrderId ? "selected" : "")" id="order(@order.Id)" @onclick="() => SelectOrder(order.Id)">
                        @order.Number - @order.Date.ToString("dd.MM.yyyy")
                        <br>
                        <span style="font-size: 0.7em;">@order.CustomerName</span>
                    </li>
                }
            </ul>

            <br>
            <nav aria-label="Page navigation">
                <ul class="pagination" id="ordersul">
                    <li class="page-item @(orders.CurrentPage > 1 ? "" : "disabled")">
                        <a class="page-link" @onclick="@(async () => await LoadOrders(orders.CurrentPage - 1))">Poprzedni</a>
                    </li>
                    @for (int i = orders.CurrentPage - 2; i <= orders.CurrentPage + 2; i++)
                    {
                        if (i < 1 || i > orders.TotalPages)
                        {
                            continue;
                        }
                        var pageIndex = i;
                        <li class="page-item @(orders.CurrentPage == pageIndex ? "active" : "")">
                            <a class="page-link" @onclick="@(async () => await LoadOrders(pageIndex))">@pageIndex</a>
                        </li>
                    }
                    <li class="page-item @(orders.CurrentPage < orders.TotalPages ? "" : "disabled")">
                        <a class="page-link" @onclick="@(async () => await LoadOrders(orders.CurrentPage + 1))">Kolejny</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-8">
            @if (selectedOrder != null)
            {
                <h3>Pozycje dla @selectedOrder.Number</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Towar</th>
                            <th>Ilość</th>
                            <th>Ilość w magazynie</th>
                            <th>Jednostka</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in selectedOrder.Items)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.Quantity</td>
                                <td>@item.QuantityInStock</td>
                                <td>@item.Unit</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

@code {
    private GetOrdersResponseDto orders;
    private GetOrderResponseDto selectedOrder;
    private int selectedOrderId;
    private string customerName = "";
    private CancellationTokenSource cts = new CancellationTokenSource();

    protected override async Task OnInitializedAsync()
    {
        await LoadOrders(1);
    }

    private void SelectOrder(int orderId)
    {
        selectedOrderId = orderId; // Set the currently selected order ID
        selectedOrder = orders.Orders.FirstOrDefault(o => o.Id == orderId);
        StateHasChanged();
    }

    private async Task LoadOrders(int pageNumber)
    {
        cts.Cancel(); // Cancel the previous request
        cts = new CancellationTokenSource(); // Create a new CancellationTokenSource
        var token = cts.Token;

        try
        {
            orders = await OrderService.GetOrdersAsync(pageNumber, customerName, token);
            selectedOrder = null;
            StateHasChanged();
        }
        catch (OperationCanceledException)
        {
            // Ignore the operation canceled exception
        }
    }

    private async Task OnCustomerNameInput(ChangeEventArgs e)
    {
        customerName = e.Value.ToString();
        await LoadOrders(1);
    }
}
